<center><h1>Guides</h1></center>

<%= link_to new_guide_item_path, class:"btn" do %>
  <i class="icon-plus"></i> New guide
<% end %>

<div id="tag_cloud">
  <% tag_cloud GuideItem.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>


<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guide_items.each do |guide_item| %>
  <tr>
    <td><%= guide_item.title %></td>
    <td><%= guide_item.author %></td>
    <td><%= raw guide_item.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %></td>
    <td><%= link_to 'Show', guide_item %></td>
    <td><%= link_to 'Edit', edit_guide_item_path(guide_item) %></td>
    <td><%= link_to 'Destroy', guide_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

